<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>UScontracting, Inc.</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/vendor/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="#" class="navbar-brand">UScontracting, Inc.</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Email:</li>
                    <li><a href="mailto:info@uscontracting.us">info@uscontracting.us</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Address:</li>
                    <li><a href="https://www.google.com/maps/place/1410+Annapolis+Rd,+Odenton,+MD+21113/@39.090789,-76.7104587,17z">UScontracting, Inc.</br>1410 Annapolis Rd</br>Odenton, MD 21113</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employees <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://timeandexpense.myefaactweb.com/">Time Card</a></li>
                    <li><a href="https://www.epayrollportal.com/EmployeeLogin.aspx">Payroll</a></li>
                    <li><a href="http://jhfunds.com/">IRA Account</a></li>
                    <li><a href="https://www.jhancockpensions.com">401k Account</a></li>
                    <li><a href="https://cloud.uscontracting.us">OwnCloud</a></li>
                    <li><a href="https://wiki.uscontracting.us">Notes</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">External Resources</li>
                    <li><a href="https://tspip.ms.northropgrumman.com/ebilling/">Northrop Grumman Time Card</a></li>
                    <li><a href="https://time.keywcorp.com/">KEYW Time Card</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/vendor/images/banner1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Delivers Strategic IT and Management Solutions.</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide hidden-xs hidden-sm" src="/vendor/images/banner2.jpg" alt="Second slide">
          <img class="second-slide visible-xs visible-sm" src="/vendor/images/banner2_cropped.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Reputable Developers.</h1>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/vendor/images/banner3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Passion For Technology.</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <!-- <div class="row"> -->
        <div class="col-lg-4">
          <img class="img-circle" src="/vendor/images/logo.png" alt="logo" width="140" height="140">
          <h2>About</h2>
          <p class="lead">UScontracting, Inc. is a technology company focused on many areas of software development.  We are a corporation doing business in both federal and commercial sectors for over seven years. Northrop Grumman chose UScontracting in 2007 as a top socio-economic supplier from a field of over 6000 companies.</p>
        </div><!-- /.col-lg-4 -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Our key to success is <span class="text-muted">talented people.</span></h2>
            <p class="lead">
            Our niche is supplying high-end, talented software developers being able to apply various software development methodologies.  The ability to work with both detailed and vague project scopes.  We also have several senior and principal software engineers most with 20 years of experience or more.  Our employees strive to be the best at what they do and are current leaders on several successful projects. By developing a reputation as experts we stay competitive and ensure a higher quality of service.<p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/vendor/images/featurette2.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Are we right for you? <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">
            We specialize in a wide variety of development to include front-end high-volume digital packet processing. Innovative solutions in scalability, performance, searching, and frameworks. Real-time, critical processing solutions for wide variety of signal and protocol processing problems. Acknowledged experts in C++, Java, User Interface, and J2EE frameworks. Originators of many primary processing systems currently in use at the National Security Agency. Our employees are highly sought after by government customers and technical leaders in both current and future large-scale development efforts. I This is a test.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="/vendor/images/capitol_featurette.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, are employees. <span class="text-muted">Expertise.</span></h2>
            <p class="lead">* Programming and scripting languages C++, Java, Ruby, Perl, Python</br>
            * J2EE, JBoss, ESB, Spring, Eclipse RCP, Ruby on Rails, Django, framework design and integration</br>
            * UI development, rapid prototyping</br>
            * MySQL Database development, optimization, and administration</br>
            * Ant, Maven, build environments</br>
            * Network protocols, network programming, algorithm development</br>
            * Cloud infrastructure provisioning (Openstack) and analytic development</p>
          </ul>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="/vendor/images/featurette3.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2012 UScontracting, Inc.</p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  </body>
</html>
